{% extends 'base.html' %}
{% block content %}
   <header class="masthead" >
   <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
           <title>{{ page_title }}</title>
            {% for t in task %}
                {{t.category_name}}
                {{t.task_name}}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </header>   
        <h2>{{ page_title }}</h2>
{% endblock %}
