{% extends 'base.html' %}
{% block content %}
    <header class="masthead" style="background-image: url('static/img/taskmanagementbg.png')">
   <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
                 
          </div>
        </div>
      </div>
    </div>
  </header>
        <h2>{{ page_title }}</h2>
    <ul class="collapsible" data-collapsible="accordion">
        {% for t in task %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{t.category_name}}</strong> - {{t.due_time}} - {{t.frequency}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                 <i class="material-icons">account_balance</i>
                    {{t.task_description}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}